name: Build & publish module to the Tiny Systems

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v5
        with:
          go-version: '>=1.23.1'
      - run: |
          echo "Preparing a release"
          echo "Module name ${{ github.event.repository.name }}"
          # Remove local replace directives (used for local dev only)
          sed -i '/replace github.com\/tiny-systems\/module =>/d' go.mod
          go mod tidy
          go test ./...
          go run cmd/main.go tools build --version ${{github.ref_name}} --name github.com/${{ github.repository }} --devkey ${{secrets.TINY_DEV_SECRET}}
